@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer components {
  .container-narrow {
    @apply mx-auto max-w-4xl px-6;
  }

  .container-wide {
    @apply mx-auto max-w-6xl px-6;
  }
}
